# Credenciais da API Getrak
# Chave (já em base64 conforme fornecido pela Getrak): "Authorization: Basic <GETRAK_API_KEY>"
GETRAK_API_KEY=***REMOVED***

# Login de integração na Getrak
GETRAK_USERNAME=***REMOVED***
GETRAK_PASSWORD=***REMOVED***

# Porta do backend
PORT=3001
